.character-card {
    --card-width: 25rem;
    --card-height: 10rem;
    min-width: var(--card-width);
    min-height: var(--card-height);
    max-width: var(--card-width);
    max-height: var(--card-height);
    background-color: #484848;
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;

    transition: scale 0.3s;
    cursor: pointer;
}

.character-card:hover {
    scale: 1.1;
}

.character-image {
    display: block;
    max-height: var(--card-height);
    height: auto;
    width: auto;
    border-radius: 0.5rem;
}

.character-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
        text-align: left;
    }
}

@media (prefers-color-scheme: light) {
    .character-card {
        background-color: #e6e6e6;
    }
}

.character-name {
    margin: .5rem;
}