.pagination {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.character-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
    flex-wrap: wrap;
}

@media only screen and (max-width: 40rem) {
    .character-form {
        flex-direction: column;
    }
}

.form-buttons {
    display: flex;
    gap: 0.5rem
}